
@{
    ViewData["Title"] = "Aboutme";
    Layout = "~/Views/Shared/contactLayout.cshtml";
}
<style>

    .image {
        margin-top: 75px;
        margin-left: 25px;
    }

    .aboutme {
        margin-top: 70px;
        margin-left: 100px;
    }

    .progress {
        height: 20px;
        line-height: 15px;
        border-radius: 20px;
        background: #f0f0f0;
        margin-bottom: 30px;
        box-shadow: none;
        overflow: visible;
    }

    .progress-title {
        font-size: 16px;
        font-weight: 700;
        color: #000;
        margin: 0 0 10px 0;
    }

    .progress .progress-bar {
        position: relative;
        border-radius: 20px 0 0 20px;
        animation: animate-positive 2s;
    }

    .progress .progress-value {
        display: block;
        font-size: 13px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 8px;
    }
</style>
<div class="col-md-6">
    <div class="image">
        <img src="~/web2/images/me.jpg" width="730" height="500" />
    </div>
</div>
<div class="col-md-6">
    <div class="aboutme">
        <h1>Hakkımda</h1><br />
        <label>
            Ben Alperen. Celal Bayar Üniversitesi 3. Sınıf öğrencisiyim. Sürekli yeni şeyler öğrenmek ve öğrendiğim şeylerle ortaya bir ürün/proje çıkartmak
            en büyük hobilerimden biri. Elimden geldiğince edindiğim bilgileri başkalarıyla paylaşmaya çalışıyorum.<br />Bu projemde .Net Core ile, yurtdışında bizzat
            gezip gördüğüm yerlerle ilgili görüş ve anılarımı naçizane blog şeklinde yazılara dökeceğim bir platform geliştirdim. Bana ulaşmak için <a href="~/About/Contact">burayı</a> tıklayabilirsiniz.<br /><br />
            İlgilendiğim Teknolojiler;<br /><br />

        </label>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="progress-title">Asp.Net Core</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 80%;">
                            <div class="progress-value">80%</div>
                        </div>
                    </div>

                    <h3 class="progress-title">HTML5</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 50%;">
                            <div class="progress-value">50%</div>
                        </div>
                    </div>
                    <h3 class="progress-title">CSS3/Bootstrap</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 50%;">
                            <div class="progress-value">50%</div>
                        </div>
                    </div>
                    <h3 class="progress-title">JS</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 30%;">
                            <div class="progress-value">30%</div>
                        </div>
                    </div><h3 class="progress-title">Microsoft SQL Server</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 70%;">
                            <div class="progress-value">70%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


