
@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<h2 style="margin-top: 25px">BLOGLAR</h2>
<div>
    <table class="table table-bordered table-striped table-dark table-hover">
        <thead>
            <tr style="background-color: gray">
                <th>ID</th>
                <th>BAŞLIK</th>
                <th>TARİH</th>
                <th>SİL</th>
                <th>GÜNCELLE</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>test id</td>
            <td>test başlık</td>
            <td>test tarih</td>
            <td>test sil </td>
            <td>test güncelle</td>
        </tr>
        <tr>
            <td>test id</td>
            <td>test başlık</td>
            <td>test tarih</td>
            <td>test sil </td>
            <td>test güncelle</td>
        </tr>
        <tr >
            <td>test id</td>
            <td>test başlık</td>
            <td>test tarih</td>
            <td>test sil </td>
            <td>test güncelle</td>
        </tr>
            </tbody>
    </table>
</div>

