@model List<Blog>
@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<h2 style="margin-top: 25px">BLOGLAR</h2>
<div>
    <table class="table table-bordered table-striped table-dark table-hover">
        <thead>
            <tr style="background-color: gray">
                <th>ID</th>
                <th>BAŞLIK</th>
                <th>SİL</th>
                <th>GÜNCELLE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blog in Model)
            {
                <tr>
                    <td>@blog.blogId</td>
                    <td>@blog.title</td>
                    <td><a href="#" class="btn btn-danger">SİL</a></td>
                    <td><a href="#" class="btn btn-warning">GÜNCELLE</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

