@model List<Comment>
@{
    ViewData["Title"] = "Comments";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2 style="margin-top: 25px">YORUMLAR</h2>
<div>
    <table class="table table-bordered table-striped table-dark table-hover">
        <thead>
            <tr style="background-color: gray">
                <th>KULLANICI ADI</th>
                <th>YORUM</th>
                <th>YORUM TARİHİ</th>
                <th>SİL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Model)
            {
                <tr>
                    <td>@comment.userName</td>
                    <td>@comment.commentContent</td>
                    <td>@comment.date</td>
                    <td><a asp-action="DeleteComment" asp-controller="Admin" asp-route-commentId="@comment.commentId" class="btn btn-danger">SİL</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div style="margin-left: 500px">
        <a href="~/Admin/Blogs" class="btn btn-success">Bloglara Dön</a>
    </div>
</div>

