@model MyTravelBlogs.Models.Blog
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<style>
    .border1 {
        border-bottom: 3px solid red;
        background-color: darkseagreen;
    }
    .border2 {
        border-bottom: 5px solid black;
    }
</style>
<div class="col-md-9">
    <br />
    <form asp-controller="Admin" asp-action="Update">
        <div class="form-group">
            <label style="margin-top: 10px"><h3 class="border1">Başlık</h3></label>
            <input asp-for="title" type="text" class="form-control" placeholder="@Model.title" />
        </div>
        <div class="form-group">
            <label><h3 class="border1">Blog İçeriği</h3></label>
            <textarea asp-for="blogContent" style="height: 170px" type="text" class="form-control" placeholder="@Model.blogContent"></textarea>
        </div>
        <div class="form-group">
            <label><h3 class="border1">Blog Resmi</h3></label>
            <input asp-for="blogImage" type="text" class="form-control" placeholder="@Model.blogImage" />
        </div>
        <div style="margin-top: 25px">
            <button style="width: 100px" type="submit" class="btn btn-success">GÜNCELLE</button>
        </div>
    </form>
</div>
