@model MyTravelBlogs.Models.Blog
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="col-md-9">
    <h2 style="margin-top: 25px">Blog Güncelle</h2>
    <form asp-controller="Admin" asp-action="Update">
        <div class="form-group">
            <label style="margin-top: 10px"><h5>Başlık</h5></label>
            <input asp-for="title" type="text" class="form-control" placeholder="@Model.title" />
        </div>
        <div class="form-group">
            <label><h5>Blog İçeriği</h5></label>
            <textarea asp-for="blogContent" style="height: 130px" type="text" class="form-control" placeholder="@Model.blogContent"></textarea>
        </div>
        <div class="form-group">
            <label><h5>Blog Resmi</h5></label>
            <input asp-for="blogImage" type="text" class="form-control" placeholder="@Model.blogImage" />
        </div>
        <div style="margin-top: 25px">
            <button style="width: 100px" type="submit" class="btn btn-success">GÜNCELLE</button>
        </div>
    </form>
</div>
